<div class="entry-button-wrap">
    <div class="button-toggle-share-menu entry-button">
        <%= button_tag "Submit", data: {behavior: 'toggle_lightning', ln:"ln-address"}, title: "Donate" do %>
            <%#    <%= button_tag "Submit", id: "lightning_button", data_original_title: "Donate", data: {behavior: 'open_settings_modal feed_settings', entry_id: entry.id, ln:"ln-address"}, title: "Donate" do %>
            <%= svg_tag 'icon-lightning' %>
        <% end %>
    </div>
</div>